@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.testimonials-swiper .swiper-slide {
  height: auto;
}

.testimonials-swiper .swiper-wrapper {
  align-items: stretch;
}

.custom-border {
  @apply border border-solid border-transparent;
  border-image: linear-gradient(to bottom, #ffffff, #666666);
  border-image-slice: 1;
}

.bg-black-50 {
  background-color: #1c1e1c80;
}

.gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(102, 102, 102, 0.05) 100%);
  border-image-slice: 1; /* required to make border-image work */
}

/* Add this to your global CSS or Tailwind config file */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, and Opera */
}
