@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

.testimonials-swiper .swiper-slide {
  height: auto;
}

.testimonials-swiper .swiper-wrapper {
  align-items: stretch;
}

.custom-border {
  @apply border border-solid border-transparent;
  border-image: linear-gradient(to bottom, #ffffff, #666666);
  border-image-slice: 1;
}

.bg-black-50 {
  background-color:#1C1E1C80;

}


